<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Laporan Data</title>
    <style>
        table { width:100%; border-collapse: collapse; }
        th, td { border: 1px solid #333; padding: 5px; text-align: left; }
    </style>
</head>
<body>
    <h2>Laporan Data</h2>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Nilai</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>1</td><td>Julio</td><td>95</td></tr>
            <tr><td>2</td><td>Hoiluj</td><td>90</td></tr>
            <tr><td>3</td><td>永城</td><td>90</td></tr>
        </tbody>
    </table>
    
</body>
</html>
